.container {
/*     Use #000000 hex code instead of black */
    background-color: black;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 32px;
    padding-right: 32px;
}
h1{
    color: white;
    font-size: 100px;
    margin-top: 0;
}
h4{
    color: white;
    font-size: 35px;
}
p{
    color: white;
    font-size: 18px;
}
.button{
    border-radius: 15px;
    font-size: 20px;
    background-color: black;
    border-color: white;
    color: white;
    padding: 4px;
}
.button:hover{
    background-color: white;

    color: black;
}
